<div>
  <div class="wrapper">
    <!-- Columns -->
    <div class="column" *ngFor="let column of store; let i = index">
      <div class="header-holder">

        <h2 class="ui transparent big input category-title">

          <input placeholder="Enter title..." type="text" value="{{column.key}}" (change)="handleColumnKeyChange(i, $event)">
        </h2>
        <div class="side-holder">
          <button style="width : fit-content" class="ui labeled icon purple button" (click)="addCard(i)">
            <i class="ui plus icon"></i>
            Add Card
          </button>
          <button class="ui red icon button" (click)="deleteCategory(i)">
            <i class="ui trash icon"></i>
          </button>
        </div>
      </div>
      <hr class="hr">
      <!-- cards -->
      <div class="cards-container" dragula="CARDS" [(dragulaModel)]="store[i].children" >
        <div *ngFor="let card of column.children; let j = index">
          <div class="card" (click)="show(i,j)">
            <h3>{{card.title}}</h3>

            <p class="card-description" *ngFor="let line of card.description.split('\n')">{{line}}</p>

            <div *ngIf="active_modal.i == i && active_modal.j == j">
              <sui-modal [isClosable]="false" #modal>
                <div class="header">{{card.title}}</div>
                <div class="content ui form">
                    <div class="ui field">
                      <label for="title">Title</label>
                      <input name="title" type="text" class="title" value="{{card.title}}" (change)="handleTitleChange($event)" (input)="handleTitleChange($event)">
                    </div>
                    <p class="error" *ngIf="titleError">{{titleError}}</p>
                    <div class="ui field">
                      <label for="description">Description</label>
                      
                      <textarea name="description" type="text" class="description" value="{{card.description}}" (change)="handleDescriptionChange($event)" (input)="handleDescriptionChange($event)"></textarea>
                    </div>
                    <p class="error" *ngIf="descriptionError">{{descriptionError}}</p>
                    <div class="ui field">
                      <label for="dropdown">Category</label>
                      <select class="ui dropdown" (change)="handleCategoryChange(i, j, $event, modal)" (input)="handleCategoryChange(i, j, $event, modal)">
                        <option value="i">{{column.key}}</option>
                        <option *ngFor="let category of getCategories()" value="{{category.index}}">{{category.key}}</option>
                      </select>
                    </div>
                    <br>
                </div>
                <div class="actions">
                    <button class="ui red labeled icon button" (click)="deleteCard(i, j, modal)">
                      <i class="ui trash icon "></i>
                      Delete
                    </button>
                    <button class="ui purple labeled icon {{disableBtn && 'disabled'}} button" (click)="modal.approve('done');hide()" autofocus>
                      <i class="arrow alternate circle right icon"></i>
                      Done
                    </button>
                </div>
            </sui-modal>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="column add-card" (click)="addCategory()">
      <div class="ui icon header">
        <i class="plus icon"></i>
        Add another Category
      </div>
    </div>
  </div>
  
</div>